:root {
  /* light */
  --light-color: #1F2020;
  --light-color-soft: #656969;
  --light-color-link: #286EBE;
  --light-color-link-v: #7135C0;

  --light-bgcolor: #F0F0F0;
  --light-bgcolor-back: #ECECEC;

  --light-color-button-hover: #4633B6;
  --light-shadow-alt: #30303033;

  /* dark */
  --dark-color: #E6E1E1;
  --dark-color-soft: #C4BBBB;
  --dark-color-link: #5D95D4;
  --dark-color-link-v: #AE86E2;

  --dark-bgcolor: #1F2020;
  --dark-bgcolor-back: #1D1F1F;

  --dark-color-button-hover: #5556B3;
  --dark-shadow-alt: #00000060;

  /* theme */
  --theme-color: var(--light-color);
  --theme-color-soft: var(--light-color-soft);
  --theme-color-link: var(--light-color-link);
  --theme-color-link-v: var(--light-color-link-v);

  --theme-bgcolor: var(--light-bgcolor);
  --theme-bgcolor-back: var(--light-bgcolor-back);

  --theme-color-button-hover: var(--light-color-button-hover);
  --theme-shadow-alt: var(--light-shadow-alt);

  /* ... */
  --list-indent-wide: 860px;
  --list-indent-narrow: 0px;
  --list-indent: var(--list-indent-narrow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: var(--dark-color);
    --theme-color-soft: var(--dark-color-soft);
    --theme-color-link: var(--dark-color-link);
    --theme-color-link-v: var(--dark-color-link-v);

    --theme-bgcolor: var(--dark-bgcolor);
    --theme-bgcolor-back: var(--dark-bgcolor-back);

    --theme-color-button-hover: var(--dark-color-button-hover);
    --theme-shadow-alt: var(--dark-shadow-alt);
  }
}

@media only screen and (max-width: 460px) {
  #content ul ul ul li {
    margin-left: 0.0rem;
  }

  #content ul ul ul ul li {
    margin-left: -0.25rem;
  }
}

@media only screen and (min-width: 461px) {
  #content ul ul ul li {
    margin-left: 2.0rem;
  }

  #content ul ul ul ul li {
    margin-left: 1.0rem;
  }
}

html {
  font-size: 18px;
}

body {
  min-width: 100vw;
  min-height: 100vh;

	margin: 0px;

  font-size: 1rem;
	font-family: arial;
	color: var(--theme-color);
	
	background-image:
    linear-gradient(#00000008, #00000008),

    repeating-linear-gradient(
      135deg,
      var(--theme-bgcolor-back) 0px,
      var(--theme-bgcolor-back) 4px,
      var(--theme-bgcolor) 5px,
      var(--theme-bgcolor) 12px,
      var(--theme-bgcolor-back) 13px
    );
  
  display: flow-root;
}

#site-wrapper {
  width: 100%;
  max-width: 860px;

  min-height: calc(100vh - 48px);

  margin: 24px auto 24px;

  background-color: var(--theme-bgcolor);
  
  display: grid;
  grid: auto 1fr auto / 100%;

  box-sizing: border-box;

  box-shadow:
    8px 8px 2px #00000022,
    0px 0px 8px 2px #00000011;
}

a {
  color: var(--theme-color-link);
}

a:visited {
  color: var(--theme-color-link-v);
}

a:hover {
  font-style: italic;
}


#header {
  min-height: 3.0rem;

  padding: 0px 0px 0.2rem 0px;

  border-width: 0px 0px 1px;
  
  box-shadow:
    0px -12px 8px -8px #00000011 inset;
  
  background-color: #797A8009;

  border-color: var(--theme-color);
  border-style: dashed;

  position: relative;

  z-index: 0;
}

#header::after {
  content: "";

  width: 80%;
  height: 100%;

  position: absolute;
  left: 10%;

  border-image-source:
    linear-gradient(
      90deg,
      transparent 0%,
      var(--theme-color) 20%,
      var(--theme-color) 80%,
      transparent 100%
    );
  border-image-slice: 0 0 1 0;
  border-style: solid;
  border-width: 0px 0px 1px;

  z-index: -1;

  top: 0px;

  border-image-slice: 0 0 1 0;
  border-width: 0px 0px 1px;
}

#nav {
  min-height: 100%;

  padding: 0px 1rem;

  display: grid;
  grid-template-areas:
    "home home home"
    "left center right";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

#nav > #home {
	grid-area: home;

  display: flex;
  justify-content: center;
  align-items: end;

  font-size: 1.1rem;
}

#nav > #left {
	grid-area: left;

  display: flex;
  justify-content: left;
  align-items: end;

  text-align: left;
}

#nav > #center {
	grid-area: center;

  display: flex;
  justify-content: center;
  align-items: end;

  text-align: center;
}

#nav > #right {
	grid-area: right;

  display: flex;
  justify-content: right;
  align-items: end;

  text-align: right;
}


#footer {
  min-height: 7.5rem;

  margin: 3rem 0px 0px;
  padding: 0.5rem 0px 0px;
  box-sizing: border-box;

  border-width: 1px 0px 0px;

  box-shadow:
    0px 12px 8px -8px #00000011 inset;
  
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.4;

  background-color: #797A8009;

  border-color: var(--theme-color);
  border-style: dashed;

  position: relative;

  z-index: 0;
}

#footer::after {
  content: "";

  width: 80%;
  height: 100%;

  position: absolute;
  left: 10%;

  border-image-source:
    linear-gradient(
      90deg,
      transparent 0%,
      var(--theme-color) 20%,
      var(--theme-color) 80%,
      transparent 100%
    );
  border-image-slice: 0 0 1 0;
  border-style: solid;
  border-width: 0px 0px 1px;

  z-index: -1;

  top: -1px;

  border-image-slice: 1 0 0 0;
  border-width: 1px 0px 0px;
}


#content {
  padding: 0px 1.5rem;
}

#content a {
  color: var(--theme-color-link);
}

#content a:visited {
  color: var(--theme-color-link-v);
}

#content h1 {
  margin: 1.0rem 0px;

  font-size: 1.5rem;
  text-align: center;
}

#content p {
  margin: 0px;
}

#content ul {
  list-style-type: upper-roman;

  margin: 0px;
  padding: 0px 1rem;
}

#content ul ul {
  list-style-type: none;

  margin: 0.25rem 0px 0px;
  padding: 0px 0px;
}

#content ul ul ul {
  list-style-type: disc;

  margin: 0.5rem 0px 0px;
  padding: 0px 0px;
}

#content ul li {
  padding-left: 0.5rem;
  font-size: 1.1rem;
}

#content ul ul li {
  padding-left: 0.0rem;
  font-size: 1.0rem;
}

#content ul ul ul li {
  padding-left: 0.25rem;
  font-size: 1.0rem;
}

#content ul ul ul ul li {
  padding-left: 0.25rem;
  font-size: 1.0rem;
}

#content ul li ~ li {
  margin-top: 0.5rem;
}

#content ul ul ul li ~ li {
  margin-top: 0rem;
}

#content ul li + li {
  margin-top: 1.0rem;
}

/* app-list */
  #content div.app-list {
    margin-top: 1.75rem;
  }


  #content div.app-list .list-header {
    display: grid;
    gap: 0.5rem;
    grid: 1fr / auto 1fr;

    align-items: center;
  }

  #content div.app-list .list-header a.button-link {
    margin: 0px;
  }

  #content div.app-list .list-header span.soft {
    margin-left: 0.25rem;
    
    color: var(--theme-color-soft);
    font-size: 0.975rem;
  }


  #content div.app-list ul ul {
    margin: 0.5rem 0px 0px;
    padding: 0px 0px;
  }

  #content div.app-list > ul > li + li {
    margin: 1.875rem 0px 0px;
  }

  #content div.app-list ul ul ul {
    margin: 1.0rem 0px 0px;
    padding: 0px 0px;
  }

  #content div.app-list ul ul ul ul {
    margin: 0px 0px;
    padding: 0px 0px;
  }

/* v-spacing */
  #content * + p {
    margin-top: 1.0rem;
  }

  #content * + div {
    margin-top: 1.0rem;
  }

  #content * + pre {
    margin-top: 1.0rem;
  }

/* .notebook */
  #content .notebox {
    width: 80%;

    margin: 2rem auto;
    padding: 4px 16px;

    border-style: dotted;
    border-width: 2px;
    border-radius: 6px;
  }

  #content .notebox p {
    margin: 0px;
  }

  #content .notebox * + p {
    margin-top: 0.5rem;
  }

  #content .notebox * + span > p {
    margin-top: 0.5rem;
  }

  #content .notebox * + div {
    margin-top: 0.5rem;
  }

  #content .notebox span.soft > p {
    color: var(--theme-color-soft);
  }

/* a.button-link */
  #content a.button-link {
    margin: 0.5rem 0px;
    padding: 0.3rem 0.8rem;

    font-style: normal;
    text-decoration: none;
    text-wrap: nowrap;

    color: var(--dark-color);

    position: relative;
    top: 0px;

    transition:
      color 0ms linear 0ms,
      top 0ms linear 0ms;
    
    z-index: 0;
  }
  
  #content a.button-link:hover,
  #content a.button-link:focus {
    color: var(--dark-color-soft);

    top: -2px;

    transition:
      color 200ms linear 50ms,
      top 100ms linear 20ms;
  }

  #content a.button-link:active {
    color: var(--dark-color-soft);

    top: 1px;

    transition:
      color 200ms linear 50ms,
      top 40ms linear 10ms;
  }

  #content a.button-link::before {
    content: "";

    width: 100%;
    height: 100%;

    background-color: var(--theme-color-link);

    position: absolute;
    top: 0px;
    left: 0px;

    transition:
      background-color 0ms linear 0ms;

    z-index: -1;
  }

  #content a.button-link:hover::before,
  #content a.button-link:focus::before {
    background-color: var(--theme-color-button-hover);

    transition:
      background-color 200ms linear 50ms;
  }

  #content a.button-link:active::before {
    background-color: var(--theme-color-button-hover);

    transition:
      background-color 200ms linear 50ms;
  }

  #content a.button-link::after {
    --shadow: 4px;

    content: "";

    width: 100%;
    height: 100%;

    background-color: var(--theme-shadow-alt);

    position: absolute;
    top: calc(0px + var(--shadow));
    left: 2px;

    transition:
      top 0ms linear 0ms;

    z-index: -2;
    filter: blur(2px);
  }

  #content a.button-link:hover::after,
  #content a.button-link:focus::after {
    background-color: var(--theme-shadow-alt);

    top: calc(2px + var(--shadow));

    transition:
      top 100ms linear 20ms;
  }

  #content a.button-link:active::after {
    background-color: var(--theme-shadow-alt);

    top: calc(-1px + var(--shadow));

    transition:
      top 40ms linear 10ms;
  }
