:root {
  /* light */
  --light-color: #1F2020;
  --light-color-soft: #656969;
  --light-color-link: #1969C4;
  --light-color-link-v: #7135C0;

  --light-bgcolor: #F0F0F0;
  --light-bgcolor-back: #ECECEC;

  /* dark */
  --dark-color: #E6E1E1;
  --dark-color-soft: #C4BBBB;
  --dark-color-link: #5D95D4;
  --dark-color-link-v: #AE86E2;

  --dark-bgcolor: #1F2020;
  --dark-bgcolor-back: #1D1F1F;

  /* theme */
  --theme-color: var(--light-color);
  --theme-color-soft: var(--light-color-soft);
  --theme-color-link: var(--light-color-link);
  --theme-color-link-v: var(--light-color-link-v);

  --theme-bgcolor: var(--light-bgcolor);
  --theme-bgcolor-back: var(--light-bgcolor-back);

  /* ... */
  --site-wrapper-wide: 860px;
  --site-wrapper-narrow: 100%;
  --site-wrapper-width: var(--site-wrapper-wide);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: var(--dark-color);
    --theme-color-soft: var(--dark-color-soft);
    --theme-color-link: var(--dark-color-link);
    --theme-color-link-v: var(--dark-color-link-v);

    --theme-bgcolor: var(--dark-bgcolor);
    --theme-bgcolor-back: var(--dark-bgcolor-back);
  }
}

@media only screen and (max-width: 860px) {
  :root {
    --site-wrapper-width: var(--site-wrapper-narrow);
  }
}

@media only screen and (min-width: 861px) {
  :root {
    --site-wrapper-width: var(--site-wrapper-wide);
  }
}

html {
  font-size: 18px;
}

body {
  min-width: 100vw;
  min-height: 100vh;

	margin: 0px;

  font-size: 1rem;
	font-family: arial;
	color: var(--theme-color);
	
	background-image:
    linear-gradient(#00000008, #00000008),

    repeating-linear-gradient(
      135deg,
      var(--theme-bgcolor-back) 0px,
      var(--theme-bgcolor-back) 4px,
      var(--theme-bgcolor) 5px,
      var(--theme-bgcolor) 12px,
      var(--theme-bgcolor-back) 13px
    );
  
  display: flow-root;
}

#site-wrapper {
  width: var(--site-wrapper-width);
  min-height: calc(100vh - 48px);

  margin: 24px auto 24px;

  background-color: var(--theme-bgcolor);
  
  display: grid;
  grid: auto 1fr auto / 100%;

  box-sizing: border-box;

  hyphens: auto;

  box-shadow:
    8px 8px 2px #00000022,
    0px 0px 8px 2px #00000011;
}

a {
  color: var(--theme-color-link);
}

a:visited {
  color: var(--theme-color-link-v);
}

a:hover {
  font-style: italic;
}


#header {
  min-height: 3.0rem;

  padding: 0px 0px 0.2rem 0px;

  border-width: 0px 0px 1px;
  
  box-shadow:
    0px -12px 8px -8px #00000011 inset;
  
  background-color: #797A8009;

  border-color: var(--theme-color);
  border-style: dashed;

  position: relative;

  z-index: 0;
}

#header::after {
  content: "";

  width: 80%;
  height: 100%;

  position: absolute;
  left: 10%;

  border-image-source:
    linear-gradient(
      90deg,
      transparent 0%,
      var(--theme-color) 20%,
      var(--theme-color) 80%,
      transparent 100%
    );
  border-image-slice: 0 0 1 0;
  border-style: solid;
  border-width: 0px 0px 1px;

  z-index: -1;

  top: 0px;

  border-image-slice: 0 0 1 0;
  border-width: 0px 0px 1px;
}

#nav {
  min-height: 100%;

  padding: 0px 1rem;

  display: grid;
  grid-template-areas:
    "home home home"
    "left center right";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
}

#nav > #home {
	grid-area: home;

  display: flex;
  justify-content: center;
  align-items: start;

  font-size: 1.1rem;
}

#nav > #left {
	grid-area: left;

  display: flex;
  justify-content: right;
  align-items: end;
}

#nav > #center {
	grid-area: center;

  display: flex;
  justify-content: center;
  align-items: end;
}

#nav > #right {
	grid-area: right;

  display: flex;
  justify-content: left;
  align-items: end;
}


#footer {
  min-height: 6.5rem;

  margin: 3rem 0px 0px;
  padding: 0.5rem 0px 0px;
  box-sizing: border-box;

  border-width: 1px 0px 0px;

  box-shadow:
    0px 12px 8px -8px #00000011 inset;
  
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.4;

  background-color: #797A8009;

  border-color: var(--theme-color);
  border-style: dashed;

  position: relative;

  z-index: 0;
}

#footer::after {
  content: "";

  width: 80%;
  height: 100%;

  position: absolute;
  left: 10%;

  border-image-source:
    linear-gradient(
      90deg,
      transparent 0%,
      var(--theme-color) 20%,
      var(--theme-color) 80%,
      transparent 100%
    );
  border-image-slice: 0 0 1 0;
  border-style: solid;
  border-width: 0px 0px 1px;

  z-index: -1;

  top: -1px;

  border-image-slice: 1 0 0 0;
  border-width: 1px 0px 0px;
}


#content {
  padding: 0px 1.5rem;
}

#content a {
  color: var(--theme-color-link);
}

#content a:visited {
  color: var(--theme-color-link-v);
}

#content h1 {
  margin: 1.0rem 0px;

  font-size: 1.5rem;
  text-align: center;
}

#content p {
  margin: 0px;
}

#content ul {
  list-style-type: upper-roman;

  margin: 0px;
  padding: 0px 1rem;
}

#content ul ul {
  list-style-type: none;

  margin: 0px;
  padding: 0px 0px;
}

#content li {
  padding-left: 0.5rem;
  font-size: 1.1rem;
}

#content li li {
  padding-left: 1.0rem;
  font-size: 1.0rem;
}

#content li ~ li {
  margin-top: 0.5rem;
}

#content .notebox {
  width: 80%;

  margin: 2rem auto;
  padding: 4px 16px;

  border-style: dotted;
  border-width: 2px;
  border-radius: 6px;
}

#content .notebox p {
  margin: 0px;
}

#content .notebox * + p {
  margin-top: 0.5rem;
}

#content .notebox * + div {
  margin-top: 0.5rem;
}

#content .notebox p.soft {
  color: var(--theme-color-soft);
}

#content div.button-link {
  width: fit-content;

  margin: 12px auto;
  padding: 8px 16px;

  background-color: #c4ccd8;
}


/* .button-link a {
  text-decoration: none;
} */

/* .button-link a:hover {
  background-color: rgb(230, 121, 58);
}

.button-link a:active {
  background-color: rgb(219, 88, 55);
  color: rgb(231, 230, 230);
  padding: 0.5em 1.0em 0.5em 1.4em;
  
  box-shadow: inset 0.5em 0em rgb(247, 169, 81);
  transition: background-color 0ms 0ms;
} */
