name: copy tests (main -> docs)

on:
  push:
    branches:
      - main
  
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: "solastjs"
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      # checkout files in main branch
      - name: checkout main
        uses: actions/checkout@v4
        with:
          ref: main
      
      # tar files before uploading
      - name: tar files
        run: tar -cvf solastjs.tar ./src ./tests/apps ./.podman
      
      # upload generated content as artefact
      - name: upload artefact
        uses: actions/upload-artifact@v4
        with:
          name: solastjstar
          path: solastjs.tar
          overwrite: true
          if-no-files-found: error
  
  download:
    runs-on: ubuntu-latest
    needs: upload
    steps:
      # checkout files in gh-pages branch
      - name: checkout gh-pages
        uses: actions/checkout@v4
        with:
          ref: gh-pages

      # download tar file containing content
      - name: download artefact
        uses: actions/download-artifact@v4
        with:
          name: solastjstar

      # extract files from tar (to separate directory)
      - name: extract files
        run: tar -xvf solastjs.tar --one-top-level=solastjstar
      
      # clear current directories that are to be updated
      - name: clear current
        run: rm -rf ./src ./tests ./.podman
      
      # copy new files over old files
      - name: copy files
        run: cp -r --update=all ./solastjstar/* ./
      
      # remove leftover files
      - name: remove files
        run: rm -rf solastjs.tar ./solastjstar

      # commit/push new files to main
      - name: commit new files
        run: |
          git config --global user.name 'auto'
          git config --global user.email 'auto@chikin.net'
          git add --all
          git diff-index --quiet --cached HEAD -- || (git commit -m \
          "merging changes from main (auto)" && git push)
    
  build:
    runs-on: ubuntu-latest
    needs: upload
    env:
      HUGO_VERSION: 0.152.2
    steps:
      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb
      
      - name: Install Dart Sass
        run: sudo snap install dart-sass
      
      # checkout files in gh-pages branch
      - name: checkout gh-pages
        uses: actions/checkout@v4
        with:
          ref: gh-pages
      
      - name: Install Node.js dependencies
        run: "[[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true"
      
      - name: Build with Hugo
        env:
          HUGO_CACHEDIR: ${{ runner.temp }}/hugo_cache
          HUGO_ENVIRONMENT: production
          TZ: America/Los_Angeles
        run: |
          cd hugo
          hugo --gc --minify
          cd ..
      

      # clear current directories that are to be updated
      - name: clear current
        run: rm -rf ./docs .index.html
      
      # copy new files over old files
      - name: copy files
        run: cp -r --update=all ./hugo/public/* ./
      
      # remove leftover files
      - name: remove files
        run: rm -rf ./hugo/public
      

      # commit/push new files to main
      - name: commit new files
        run: |
          git config --global user.name 'auto'
          git config --global user.email 'auto@chikin.net'
          git add --all
          git diff-index --quiet --cached HEAD -- || (git commit -m \
          "generating docs w/ hugo (auto)" && git push)
        