name: copy tests (main -> docs)

on:
  push:
    branches:
      - main
  
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: "solastjs"
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      # checkout files in main branch
      - name: checkout main
        uses: actions/checkout@v4
        with:
          ref: main
      
      # tar files before uploading
      - name: tar files
        run: tar -cvf solastjs.tar ./src ./tests/apps
      
      # upload generated content as artefact
      - name: upload artefact
        uses: actions/upload-artifact@v4
        with:
          name: solastjstar
          path: solastjs.tar
          overwrite: true
          if-no-files-found: error
  
  download:
    runs-on: ubuntu-latest
    needs: upload
    steps:
      # checkout files in gh-pages branch
      - name: checkout gh-pages
        uses: actions/checkout@v4
        with:
          ref: gh-pages

      # download tar file containing content
      - name: download artefact
        uses: actions/download-artifact@v4
        with:
          name: solastjstar

      # extract files from tar (to current directory)
      - name: extract files
        run: tar -xvf solastjs.tar --keep-newer-files
      
      # remove tar file
      - name: remove solastjs.tar
        run: rm solastjs.tar
      
      # commit/push new files to main
      - name: commit new files
        run: |
          git config --global user.name 'auto'
          git config --global user.email 'auto@chikin.net'
          git add --all
          git commit -m "generated from 'main'"
          git push
        